@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Website_Designer_Ghana.Data

<PageTitle>Register - Website Designer in Ghana</PageTitle>

<div class="register-container bg-black">
    <div class="register-card glass-card">
        <div class="register-header">
            <h1>Create Account</h1>
            <p>Join our community today</p>
        </div>

        <div class="register-body">
            @if (!string.IsNullOrEmpty(Message))
            {
                <div class="error-message">
                    @Message
                </div>
            }

            <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" style="display: none;" />

                <div class="form-row">
                    <div class="form-group">
                        <label for="Input.FirstName" class="form-label">First Name</label>
                        <div class="input-with-icon">
                            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <InputText @bind-Value="Input.FirstName" id="Input.FirstName" class="form-control"
                                autocomplete="given-name" placeholder="First Name" />
                        </div>
                        <ValidationMessage For="() => Input.FirstName" class="text-danger" />
                    </div>

                    <div class="form-group">
                        <label for="Input.LastName" class="form-label">Last Name</label>
                        <div class="input-with-icon">
                            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <InputText @bind-Value="Input.LastName" id="Input.LastName" class="form-control"
                                autocomplete="family-name" placeholder="Last Name" />
                        </div>
                        <ValidationMessage For="() => Input.LastName" class="text-danger" />
                    </div>
                </div>


                <div class="form-group">
                    <label for="Input.Email" class="form-label">Email Address</label>
                    <div class="input-with-icon">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                            </path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                        <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="email"
                            placeholder="Email Address" />
                    </div>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>

                <div class="form-group">
                    <label for="Input.Password" class="form-label">Password</label>
                    <div class="input-with-icon">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>
                        <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control"
                            autocomplete="new-password" placeholder="Password" />
                    </div>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>

                <div class="form-group">
                    <label for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <div class="input-with-icon">
                        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>
                        <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword"
                            class="form-control" autocomplete="new-password" placeholder="Confirm Password" />
                    </div>
                    <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
                </div>

                <div class="terms-group">
                    <p class="terms-text">
                        By registering, you agree to our
                        <a href="#" class="terms-link">Privacy Policy</a> and
                        <a href="#" class="terms-link">Terms of Service</a>
                    </p>
                </div>

                <button type="submit" class="btn-register">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="8.5" cy="7" r="4"></circle>
                        <polyline points="17 11 19 13 23 9"></polyline>
                    </svg>
                    Create Account
                </button>

                <div class="register-footer">
                    <p>Already have an account? <a href="Account/Login">Login</a></p>
                </div>
            </EditForm>
        </div>
    </div>
</div>
